/* --- General rules --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aquamarine;
}

/* Utilities */

.display_none {
    display: none;
}

.active {
    display: block;
}

/* Page */

i {
    font-size: 40px;
    padding: 0 20px;
    cursor: pointer;
}

.box {
    position: relative;
}

.index {
    height: 50px;
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index-image {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #fff;
}

.index-image-color {
    background-color: dodgerblue;
}